<% include layout/header %>
	<div class="editor-page bg-stripes">
		<!-- Page Header -->
		<header>			
			<a href="/blog" class="site-title">Article Editor</a>
			<a 	href="https://twitter.com/fradinni" 
				class="twitter-follow-button" 
				data-show-count="true" 
				data-lang="en" 
				data-size="large">Follow @fradinni</a>
		</header>

		<!-- Page content -->
		<div class="editor">
			
			<input type="text" id="title" name="title" style="width: 99%;" placeholder="Title" value="<%= article.title %>" />
			
			<select name="category" id="category">
				<option value="null">- Select category -</option>
				<% for(var index in categories) {
					var category = categories[index];
					%>
					<option value="<%=category._id%>" <%= article.category == category._id ? 'selected'  : '' %>><%=category.name%></option>
					<%
				} %>
			</select>

			<textarea name="editor" id="editor"><%= article.text %></textarea>
		</div>

		<span class="save">Save</span>
	</div>
<% include layout/footer %>